schedule
langgraph
langchain
aiogram
SQLAlchemy
asyncio
psycopg
psycopg-binary
feedparser
requests
beautifulsoup4
python-dotenv
protobuf
grpcio-tools
pymilvus
duckduckgo-search
langchain-community
langgraph-supervisor