schedule
langgraph
langchain
aiogram
SQLAlchemy
asyncio
psycopg
psycopg-binary
feedparser
requests
beautifulsoup4
langchain-ollama
python-dotenv
protobuf
grpcio-tools
pymilvus
duckduckgo-search
langchain-community