schedule
langgraph
langchain
aiogram
SQLAlchemy
asyncio
psycopg
psycopg-binary
feedparser
requests
beautifulsoup4
python-dotenv
protobuf
grpcio-tools
pymilvus
duckduckgo-search
langchain-community
langchain-gigachat
langgraph-supervisor
langchain-core
pydantic
typing_extensions
langchain_mcp_adapters
fastapi[standard]